<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>
<h4> Dishes</h4>
<% @menu.dishes.each do |dish| %>
  <%= dish.name %>  | <%= dish.price %>  |  <%= dish.cateogry%>   <button> <%= link_to "Remove dish", remove_dish_url(dish_id: dish.id), method: :delete, data: {confirm: "are you sure to remove this dish?"}  %> </button>
<br/><br/>

<%end%>
<br>

<% if current_user && current_user.admin %>
  
  <%= form_with scope: :dishes, url:post_dish_path(@menu), local: true do |form| %>
  <p>
    <%= form.select :id, @dishes.map { |d| [d.name,d.id]} %> &nbsp &nbsp
    <%= form.submit 'Add to Menu' %>

  </p>
  
  <%end%>  
<%end%>

<br/> <br/>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %> | 